.three::before,
.three::after{
    content: '';
    position: absolute;
    width: 0;
    bottom: 0;
    border-bottom: 3px solid #fff;
}

.three::before{
    right: 50%;
}

.three::after{
    left: 50%;
}

.three:hover::before,
.three:hover::after{
    width: 50%;
}