@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: 48px;
	background-color: #333;
}

p {
	display: none;
}

@media (min-width: 200px) {
	body {
		background-color: gold;
	}
}

@media (min-width: 400px) {
	body {
		background-color: blue;
	}
}

@media (min-width: 600px) {
	body {
		background-color: tomato;
	}
	p {
		display: inline;
	}
}
