.contact {
	position: relative;
	background-image: url(../img/skyline-1869214_1920.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	z-index: 0;
	color: $white;

	.contact-shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		background-color: rgba(0, 0, 0, 0.6);
		z-index: -10;
	}

	h3 {
		text-transform: uppercase;
	}

	.social-media {
		margin-bottom: 30px;
		font-size: 20px;
        
		i {
			margin: 0px 10px;
		}
	}

	.contact-item p {
		margin: 5px;
		font-size: 14px;
	}
}
