.portfolio {
	.carousel-item {
		height: 600px;
	}

	.carousel-caption {
		position: absolute;
		left: 0;
		right: 0;
        padding: 40px 0;
		background-color: rgba(0, 0, 0, 0.8);
	}

    .carousel-indicators{
        padding-bottom: 20px;
    }
}
