.glass{
    visibility: visible;
}

.glass::before {
	top: -30px;
	left: -130px;
	height: 160%;
	width: 100px;
	background-image: linear-gradient(
		-90deg,
		rgba(255, 255, 255, 0.3),
		rgba(255, 255, 255, 0)
	);
	transform: rotate(20deg);
}

.glass:hover::before {
	left: 130%;
}
